<input type="text" id="name" placeholder="Your Name">
<input type="text" id="room" placeholder="Room">
<button id="btn_join" >Join</button>
<br>
<br>
<input type="text" id="ip_message" placeholder="message" >
<button id="btn_send" >Send</button>

<ul id="ul_message">
    
</ul>
<script src="/socket.io/socket.io.js"></script>
<script src="js/client.js"></script>